body{
    padding-bottom: 60px;
}


.resizedTextbox {
    width: 55px;
    height: 40px;
}

.resizedTextboxLonger {
    width: 130px;
    height: 40px;
}

.resizedTextboxLongest {
    width: 150px;
    height: 40px;
}

.little-spacing
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #000000;
    border-width: 1px;
}

.content {
    background: #efefef;
    padding: 20px;
    margin-top: 25px;
    line-height: 1.8;
}

.button {
    display: inline-block;
    padding: 2px 2px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c9302c;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
}

.button:hover {background-color: #c0392b}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button_add {
    display: inline-block;
    padding: 1px 1px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1b6d85;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 9px #999; */
}

.button_add:hover {background-color: #3091B2}