body{
    padding-bottom: 60px;
}


.resizedTextbox {
    width: 55px;
    height: 40px;
}

.resizedTextboxLonger {
    width: 130px;
    height: 40px;
}

.resizedTextboxLongest {
    width: 150px;
    height: 40px;
}

.little-spacing
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #000000;
    border-width: 1px;
}

.content {
    background: #efefef;
    padding: 20px;
    margin-top: 25px;
    line-height: 1.8;
}